<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Brioche French Toast with Nutella | My Recipes</title>

  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" th:href="@{/assets/css/unsemantic-grid-responsive.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}" type="text/css">

</head>

<body>

  <nav>
    <a th:text="${#authentication.name}" th:href="@{|/users/${#authentication.name}|}">
      Chandra S.
    </a>
    &bull;
    <a th:href="@{/logout}">
      logout
    </a>
  </nav>

  <div class="grid-container">

    <div class="grid-100">
      <a th:href="@{/}">
        <h1>
          <img th:src="@{/assets/images/chefbot.svg}" height="60px">
          <br>
          My Recipes
        </h1>
      </a>
    </div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-50">
            <h2 th:text="${recipe.name}"> Brioche French Toast with Nutella </h2>
          </div>
          <form id="favButtonForm" th:action="@{|/recipes/${recipe.id}/favorite|}" method="post">
            <div class="grid-50">
              <h2 class="flush-right">
                <a id="favButton" style="cursor: pointer">
                  <img th:if="${!fav}" th:src="@{/assets/images/favorite.svg}" height="16px">
                  <img th:if="${fav}" th:src="@{/assets/images/favorited.svg}" height="16px">
                </a>
              </h2>
            </div>
          </form>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Photo </label>
            </p>
          </div>
          <div class="grid-40">
            <img th:src=@{|/recipes/${recipe.id}.png|} alt="photo">
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Name </label>
            </p>
          </div>
          <div class="grid-40">
            <p th:text="${recipe.name}">
              Brioche French Toast with Nutella
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Created by </label>
            </p>
          </div>
          <div class="grid-40">
            <p th:text="${recipe.owner.username}">
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Description </label>
            </p>
          </div>
          <div class="grid-40">
            <p th:text="${recipe.description}">
              Yummmy dessert toast covered in egg wash and topped with nutella and seasonal fruit.
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Category </label>
            </p>
          </div>
          <div class="grid-30">
            <p th:text="${recipe.category}">
              Dessert
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Prep Time </label>
            </p>
          </div>
          <div class="grid-20">
            <p th:text="${recipe.prepTime}">
              5 minutes
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Cook Time </label>
            </p>
          </div>
          <div class="grid-20">
            <p th:text="${recipe.cookTime}">
              15 minutes
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Ingredients </label>
            </p>
          </div>
          <div class="grid-30">
            <p>
              <label> Item <label>
              </p>
            </div>
            <div class="grid-30">
              <p>
                <label> Condition <label>
                </p>
              </div>
              <div class="grid-20">
                <p>
                  <label> Quantity <label>
                  </p>
                </div>

                <div class="ingredient-row" th:each="ing : ${recipe.ingredients}">
                  <div class="prefix-20 grid-30">
                    <p th:text="${ing.name}">
                      Eggs
                    </p>
                  </div>
                  <div class="grid-30">
                    <p th:text="${ing.condition}">
                      Fresh
                    </p>
                  </div>
                  <div class="grid-10 suffix-10">
                    <p th:text="${ing.quantity}">
                      2
                    </p>
                  </div>
                </div>

              </div> <div class="clear"></div>

              <div class="grid-100 row">
                <div class="grid-20">
                  <p>
                    <label> Steps </label>
                  </p>
                </div>
                <div class="grid-80">
                  <p>
                    <label> Description <label>
                    </p>
                  </div>

                  <div class="step-row" th:each="step : ${recipe.steps}">
                    <div class="prefix-20 grid-80">
                      <p th:text="${step}">
                        1. Crack your eggs and beat them.
                      </p>
                    </div>
                  </div>

                </div> <div class="clear"></div>

                <div class="row">&nbsp;</div>

              </div> <!-- recipes -->
            </div> <!-- grid-100 -->
          </div> <!-- grid-container -->
        </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script th:src="@{/assets/js/app.js}"></script>
        </html>
