<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Recipe Editor | My Recipes</title>

  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" th:href="@{/assets/css/unsemantic-grid-responsive.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}" type="text/css">

</head>

<body>

  <nav>
    <a th:text="${#authentication.name}" th:href="@{|/users/${#authentication.name}|}">
      Chandra S.
    </a>
    &bull;
    <a th:href="@{/logout}">
      logout
    </a>
  </nav>

  <div class="grid-container">

    <div class="grid-100">
      <a th:href="@{/}">
        <h1>
          <img th:src="@{/assets/images/chefbot.svg}" height="60px">
          <br>
          Edit recipe
        </h1>
      </a>
    </div>

    <div class="grid-100">

      <div class="recipes">
          <form th:action="@{${action}}" method="post" th:object="${recipe}" enctype="multipart/form-data">
            <input type="hidden" th:value="*{id}" th:field="*{id}">
            <div class="grid-100 row controls">
              <div class="grid-50">
                <h2 th:text="${task}"> Recipe Editor </h2>
              </div>
              <div class="grid-50">
                <div class="flush-right">
                  <button type="submit" th:text="${buttonAction}">Save Recipe</button>
                    <a th:href="@{/recipes}">
                        <button class="secondary" type="button">Cancel</button>
                    </a>
                </div>
              </div>
            </div> <div class="clear"></div>
            <div class="grid-100 row">
              <div class="grid-20">
                <p class="label-spacing">
                  <label> Photo </label>
                </p>
              </div>
              <div class="grid-40">
                <img id="recipePhoto" th:if="${photo}" th:src="@{|/recipes/*{id}.png|}" alt="photo">
                <p>
                    <input id="photoInput" th:type="${#strings.equals(task, 'Edit recipe') ? 'hidden' : 'file'}" name="image" placeholder="Upload Photo">
                </p>
              </div>
              <div th:if="${#strings.equals(task, 'Edit recipe')}" class="prefix-20 grid-80 add-row">
                <p>
                  <button id="editPhoto" value="notEdited" type="button">Change recipe photo</button>
                </p>
              </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
              <div class="grid-20">
                <p class="label-spacing">
                  <label> Name </label>
                </p>
              </div>
              <div class="grid-40">
                <p>
                  <input type="text" th:field="*{name}"/>
                </p>
              </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
              <div class="grid-20">
                <p class="label-spacing">
                  <label> Description </label>
                </p>
              </div>
              <div class="grid-40">
                <p>
                  <textarea th:field="*{description}"> </textarea>
                </p>
              </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
              <div class="grid-20">
                <p class="label-spacing">
                  <label> Category </label>
                </p>
              </div>
              <div class="grid-30">
                <p>
                  <select th:field="*{category}">
                    <option th:each="category : ${T(com.danielturato.recipe.category.Category).values()}"
                            th:value="${category}" th:text="${category.label}">All Categories</option>
                  </select>
                </p>
              </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
              <div class="grid-20">
                <p class="label-spacing">
                  <label> Prep Time </label>
                </p>
              </div>
              <div class="grid-20">
                <p>
                  <input type="number" th:field="*{prepTime}"/>
                </p>
              </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
              <div class="grid-20">
                <p class="label-spacing">
                  <label> Cook Time </label>
                </p>
              </div>
              <div class="grid-20">
                <p>
                  <input type="number" th:field="*{cookTime}"/>
                </p>
              </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
              <div class="grid-20">
                <p class="label-spacing">
                  <label> Ingredients </label>
                </p>
              </div>
              <div class="grid-30">
                <p class="label-spacing">
                  <label> Item <label>
                  </p>
                </div>
                <div class="grid-30">
                  <p class="label-spacing">
                    <label> Condition <label>
                    </p>
                  </div>
                  <div class="grid-20">
                    <p class="label-spacing">
                      <label> Quantity <label>
                      </p>
                    </div>

                    <div th:each="ingredient : *{ingredients}">
                      <div class="ingredient-row">
                        <div class="prefix-20 grid-30" th:field="*{ingredients[__${ingredientStat.index}__].id}">
                          <p>
                            <input th:field="*{ingredients[__${ingredientStat.index}__].name}"/>
                          </p>
                        </div>
                        <div class="grid-30">
                          <p>
                            <input th:field="*{ingredients[__${ingredientStat.index}__].condition}"/>
                          </p>
                        </div>
                        <div class="grid-10 suffix-10">
                          <p>
                            <input th:field="*{ingredients[__${ingredientStat.index}__].quantity}"/>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div id="addIngredientDiv" class="prefix-20 grid-80 add-row">
                      <p>
                        <button id="addIngredient" type="button">+ Add Another Ingredient</button>
                      </p>
                    </div>

                  </div> <div class="clear"></div>

                  <div class="grid-100 row">
                    <div class="grid-20">
                      <p class="label-spacing">
                        <label> Steps </label>
                      </p>
                    </div>
                    <div class="grid-80">
                      <p class="label-spacing">
                        <label> Description <label>
                        </p>
                      </div>

                      <div class="step-row" th:each="step : *{steps}">
                        <div class="prefix-20 grid-80">
                          <p>
                            <input th:field="*{steps[__${stepStat.index}__]}"/>
                          </p>
                        </div>
                      </div>

                      <div id="newStepDiv" class="prefix-20 grid-80 add-row">
                        <p>
                          <button id="newStep" type="button">+ Add Another Step</button>
                        </p>
                      </div>

                </div> </form> <div class="clear"></div>

                <div class="row">&nbsp;</div>

              </div> <!-- recipes -->
            </div> <!-- grid-100 -->
          </div> <!-- grid-container -->
        </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script th:src="@{/assets/js/app.js}"></script>
        </html>
