<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>My Recipes</title>

  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" th:href="@{/assets/css/unsemantic-grid-responsive.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}" type="text/css">

</head>

<body>

  <nav>
    <a th:href="@{/profile}" th:text="${#authentication.name}">
    </a>
    &bull;
    <a th:href="@{/logout}">
      logout
    </a>
  </nav>

  <div class="grid-container">

    <div class="grid-100">
      <a th:href="@{/}">
        <h1>
          <img th:src="@{/assets/images/chefbot.svg}" height="60px">
          <br>
          My Recipes
        </h1>
      </a>
    </div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-30">
            <select>
              <option value="">All Categories</option>
              <option value="breakfast">Breakfast</option>
              <option value="lunch">Lunch</option>
              <option value="dinner">Dinner</option>
              <option value="dessert">Dessert</option>
            </select>
          </div>
          <div class="grid-40">
            <input placeholder="Search"></input>
          </div>
          <div class="grid-30">
            <div class="flush-right">
              <a th:href="@{/recipes/add}">
                <button>+ Add Recipe</button>
              </a>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row addHover" th:each="recipe : ${recipes}">
          <a th:href="@{'/recipes/' + ${recipe.id}}">
            <div class="grid-70">
              <p th:text="${recipe.name}">
                <span><img th:src="@{/assets/images/favorite.svg}" height="12px"> </span>
                Baked Alaskan Salmon with Asparagus
              </p>
            </div>
          </a>
          <div class="hoverBlock">
            <div class="grid-30">
              <div class="flush-right">
                <p>
                  <a th:href="@{|/recipes/${recipe.id}/edit|}"> <img th:src="@{/assets/images/edit.svg}" height="12px"> Edit </a>
                  <a href="#"> <img th:src="@{/assets/images/delete.svg}" height="12px"> Delete </a>
                </p>
              </div>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div class="row">&nbsp;</div>

      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
