<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Login | My Recipes</title>

  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" th:href="@{assets/css/unsemantic-grid-responsive.css}" type="text/css">
  <link rel="stylesheet" th:href="@{assets/css/styles.css}" type="text/css">

</head>

<body>

  <nav>
    <a th:href="@{sign-up}">
      sign-up
    </a>
    &bull;
    <a th:href="@{login}">
      login
    </a>
  </nav>

  <div class="grid-container">

    <div class="grid-100">
      <a th:href="@{/}">
        <h1>
          <img th:src="@{assets/images/chefbot.svg}" height="60px">
          <br>
          My Recipes
        </h1>
      </a>
    </div>

    <div class="grid-100">
      <div class="recipes">
        <form th:action="@{/login}" method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <input name="username" placeholder="Username" type="text"> </input>
            </p>
          </div> <div class="clear"></div>
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <input name="password" id="password" placeholder="Password" type="password"> </input>
            </p>
          </div> <div class="clear"></div>
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <button type="submit">Login</button>
            </p>
          </div> <div class="clear"></div>
        </form>
      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
