<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Sign-up | My Recipes</title>

  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" th:href="@{/assets/css/unsemantic-grid-responsive.css}">
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}">

</head>

<body>

  <nav>
    <a th:href="@{sign-up}">
      sign-up
    </a>
    &bull;
    <a th:href="@{login}">
      login
    </a>
  </nav>

  <div class="grid-container">

    <div class="grid-100">
      <a th:href="@{/}">
        <h1>
          <img th:src="@{/assets/images/chefbot.svg}" height="60px">
          <br>
          Sign-up
        </h1>
      </a>
    </div>

    <div id="flashMessage" th:if="${flash}">
      <div class="grid-100">
        <div class="recipes">
          <div class="grid-50 row prefix-25" style="text-align: center; background: #ac4343; color: #f2e2e2;">
            <p th:text="${flash.message}">
              This is a test.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-100">
      <div class="recipes">
        <form id="signUpForm" th:action="@{/sign-up}" method="post" th:object="${user}">
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <input th:field="*{username}" placeholder="Username"> </input>
            </p>
          </div> <div class="clear"></div>
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <input id="passwordOne" th:field="*{password}" placeholder="Password" type="password"> </input>
            </p>
          </div> <div class="clear"></div>
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <input id="passwordTwo" placeholder="Password Again" type="password"> </input>
            </p>
          </div> <div class="clear"></div>
          <div class="prefix-20 grid-60 suffix-20">
            <p>
              <button id="signUpButton" type="button">Sign-up</button>
            </p>
          </div> <div class="clear"></div>
        </form>
      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script th:src="@{/assets/js/app.js}"></script>
</html>
